<footer class="bg-dark text-white pt-4 pb-2 mt-5">
  <div class="container text-center">
    <!-- Social Icons -->
    <div class="mb-3">
      <a href="#" class="text-white me-3"><i class="bi bi-facebook fs-4"></i></a>
      <a href="#" class="text-white me-3"><i class="bi bi-twitter fs-4"></i></a>
      <a href="#" class="text-white me-3"><i class="bi bi-instagram fs-4"></i></a>
      <a href="#" class="text-white me-3"><i class="bi bi-linkedin fs-4"></i></a>
    </div>

    <!-- Copyright and Links -->
    <div class="mb-2">
      <p class="mb-1">&copy; 2025 Blogory. All rights reserved.</p>
      <a href="#" class="text-white me-3 text-decoration-none">Privacy Policy</a>
      <a href="#" class="text-white text-decoration-none">Terms of Use</a>
    </div>
  </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 